@import url(/css/style.css);

.cashier {
    background-color: var(--corTres);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.titleCashier {
    width: 30rem;
    height: 10%;
    text-align: start;
    align-content: center;
    font-size: 3rem;
}

.view {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
}

.prodImg {
    width: 25%;
    height: 95%;
    align-content: center;
    text-align: center;
    border: dashed #000000 3px;
}

.prodImg img { width: 250px; }

.list {
    width: 65%;
    height: 95%;
    padding: 2px;
    border: solid #000000 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.list-buy {
    width: 100%;
    height: 75%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

.itemDescription {
    width: 100%;
    height: 3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.itemDescription:nth-child(odd) { background-color: var(--corDois); }
.itemDescription span:nth-last-child(odd) { font-weight: bold; }
.itemDescription:hover { background-color: var(--corUm); }

.total-buy {
    width: 100%;
    height: 20%;
    padding-right: 5px;
    display: flex;
    align-content: center;
    background-color: var(--corUm);
    flex-wrap: wrap;
    justify-content: flex-end;
}

.total-buy label {
    width: 15rem;
    height: 3rem;
    text-align: end;
    font-size: 1.5rem;
    color: #000000;
    padding-right: 10px;
    align-content: center;
    font-weight: bold;
}

.total-pay {
    width: 15rem;
    background-color: #ffffffdb;
    border: none;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

.infos {
    width: 100%;
    height: 25%;
    display: grid;
    align-items: center;
    grid-template-areas:
        "codBar itemDesc itemDesc"
        "itemPreco qtdItem totalProd"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}

.barCodeGroup {
    width: 100%;
    height: 100%;
    grid-area: codBar;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.itemGroup {
    grid-area: itemDesc;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.qtdGroup {
    grid-area: itemPreco;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.priceGroup {
    grid-area: qtdItem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.totalGroup {
    grid-area: totalProd;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.barCodeGroup label, .itemGroup label,
.qtdGroup label, .priceGroup label,
.totalGroup label {
    width: 20rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

.barCodeGroup input, .itemGroup input,
.qtdGroup input, .priceGroup input,
.totalGroup input {
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    background-color: #ffffff;
    color: #000000;
}

.barCodeGroup input, .totalGroup input { width: 20rem; }
.qtdGroup input, .priceGroup input { width: 18rem; }
.itemGroup input { width: 55rem; }